@page "/logout"

@using Microsoft.AspNetCore.Authentication

@inject NavigationManager NavigationManager

<p>Вы успешно вышлми из аккаунта</p>

@code{

    [CascadingParameter] 
    public HttpContext HttpContext { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            NavigationManager.NavigateTo("/logout", true);
        }
    }

}