<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MedicalCrmWebClient</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cleanings">
            <span class="bi " aria-hidden="true"></span> Уборка помещений
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/lamp-journals">
            <span class="bi " aria-hidden="true"></span> Журнал
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ppes">
            <span class="bi " aria-hidden="true"></span> Журнал СИЗ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/analysis-results">
            <span class="bi " aria-hidden=""></span> Результаты анализов
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/services">
            <span class="bi " aria-hidden="true"></span> Перечень услуг
            </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="/orders">
            <span class="bi " aria-hidden="true"></span> Заказы
            </NavLink>
        </div>
        <!--<div class="nav-item px-3">
        <NavLink class="nav-link" href="">
            <span class="bi " aria-hidden="true"></span> Договоры
            </NavLink>
        </div>-->
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="/clients">
            <span class="bi " aria-hidden="true"></span> Клиенты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/laboratories">
                <span class="bi " aria-hidden="true"></span> Лаборатории
            </NavLink>
        </div>
    </nav>
</div>

